<header>
  <%= render 'layouts/navbar' %>
</header>

<div class="mx-1 mx-md-5 mb-2" >
  <div class="container mt-4 mt-md-5">
    <h1>Ma Page Index</h1>
  </div>

  <!-- Navbar example --->
  <div class="container mt-3 mt-md-5">
    <div class="col-lg-12">
      <div class="page-header">
        <h1 id="navbars">Navbars</h1>
      </div>

      <div class="bs-component">
        <%= render 'layouts/navbar' %>
      </div>
    </div>
  </div>

  <!-- Footer example --->
  <div class="container mt-3 mt-md-5">
    <div class="col-lg-12">
      <div class="page-header">
        <h1 id="navbars">Footer</h1>
      </div>

      <div class="footer footer-expand-lg bg-body-tertiary">
        <footer>
          <%= render 'layouts/footer' %>
        </footer>
      </div>
    </div>
  </div>

  <!-- Form example --->
  <div class="container mt-3 mt-md-5">
    <div class="col-lg-12">
      <div class="page-header">
        <h1 id="navbars">Formulaires</h1>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="bs-component">
            <form data-dashlane-rid="909782c17d7db275" data-form-type="other">
              <fieldset>
                <legend>Légende</legend>
                <div class="form-group row">
                  <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                  <div class="col-sm-10">
                    <input type="text" readonly="" class="form-control-plaintext" id="staticEmail" value="email@example.com" data-dashlane-rid="bedc73071cb1a5ef" data-form-type="email" data-kwcachedvalue="email@example.com" data-kwimpalastatus="asleep" data-kwimpalaid="1699973975142-0">
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1" class="form-label mt-4">Adresse Email</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" data-dashlane-rid="1f5aa6101fd200ab" data-form-type="email" data-kwimpalastatus="alive" data-kwimpalaid="1699973975142-1">
                  <small id="emailHelp" class="form-text text-muted">Votre email ne sera jamais partagé à quiconque.</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1" class="form-label mt-4">Mot de Passe</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mot de Passe" autocomplete="off" data-dashlane-rid="80a540614d82dad2" data-form-type="password" data-kwimpalastatus="alive" data-kwimpalaid="1699973975142-2">
                </div>
                <div class="form-group">
                  <label for="exampleSelect1" class="form-label mt-4">Menu Déroulant</label>
                  <select class="form-select" id="exampleSelect1" data-dashlane-rid="52026afd7317ed72" data-form-type="other">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleSelect1" class="form-label mt-4">Menu Déroulant Non Fonctionnel</label>
                  <select class="form-select" id="exampleDisabledSelect1" disabled="" data-dashlane-rid="74f67d26d203f6f7" data-form-type="other">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleSelect2" class="form-label mt-4">Choix Multiple</label>
                  <select multiple="" class="form-select" id="exampleSelect2" data-dashlane-rid="00c3f2e735da3115" data-form-type="other">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleTextarea" class="form-label mt-4">Zone de Texte</label>
                  <textarea class="form-control" id="exampleTextarea" rows="3" data-dashlane-rid="736cc9c86aa3ebc9" data-form-type="other"></textarea>
                </div>
                <div class="form-group">
                  <label for="formFile" class="form-label mt-4">Télécharger un Fichier (format par défaut)</label>
                  <input class="form-control" type="file" id="formFile" data-dashlane-rid="9db55d234d14292a" data-form-type="other">
                </div>
                <fieldset class="form-group">
                  <legend class="mt-4">Bouton Ratio</legend>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="" data-dashlane-rid="fc35dffb0cf9eefa" data-form-type="other">
                    <label class="form-check-label" for="optionsRadios1">
                      Option numéro 1
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios2" value="option2" data-dashlane-rid="eec56e9de62983b2" data-form-type="other">
                    <label class="form-check-label" for="optionsRadios2">
                      Option 2 (ce qui déselectionne Option 1)
                    </label>
                  </div>
                  <div class="form-check disabled">
                    <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled="" data-dashlane-rid="4bcc5e0c043f575e" data-form-type="other">
                    <label class="form-check-label" for="optionsRadios3">
                      Option 3 est non Fonctionnelle
                    </label>
                  </div>
                </fieldset>
                <fieldset class="form-group">
                  <legend class="mt-4">Checkboxes</legend>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" data-dashlane-rid="b8ff712826dc74aa" data-form-type="other">
                    <label class="form-check-label" for="flexCheckDefault">
                      Checkbox Par Défaut
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked="" data-dashlane-rid="bb45c469076e0846" data-form-type="other">
                    <label class="form-check-label" for="flexCheckChecked">
                      Checkbox Cochée
                    </label>
                  </div>
                </fieldset>
              </fieldset>
            </form>
          </div>
        </div>
        <div class="col-lg-4 offset-lg-1">
          <form class="bs-component" data-dashlane-rid="5ac8fd8d76ca12bf" data-form-type="login">
            <div class="form-group">
              <fieldset disabled="">
                <label class="form-label" for="disabledInput">Input non Fonctionnel</label>
                <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input here..." disabled="" data-dashlane-rid="6c386e08a949972f" data-form-type="other">
              </fieldset>
            </div>

            <div class="form-group">
              <fieldset>
                <label class="form-label mt-4" for="readOnlyInput">Readonly input</label>
                <input class="form-control" id="readOnlyInput" type="text" placeholder="Readonly input here..." readonly="" data-dashlane-rid="2469e60877376703" data-form-type="other">
              </fieldset>
            </div>

            <div class="form-group has-success">
              <label class="form-label mt-4" for="inputValid">Input Validé</label>
              <input type="text" value="correct value" class="form-control is-valid" id="inputValid" data-dashlane-rid="e84452eabff3c7fc" data-form-type="other">
              <div class="valid-feedback">Bravo ! Tu as su chargé un fichier ;) ... Comme mon petit neveu de 3 ans</div>
            </div>

            <div class="form-group has-danger">
              <label class="form-label mt-4" for="inputInvalid">Input non Valide</label>
              <input type="text" value="wrong value" class="form-control is-invalid" id="inputInvalid" data-dashlane-rid="b19b6c9a192ce2db" data-form-type="other">
              <div class="invalid-feedback">Désolée, ce pseudo est déjà pris. Nouvelle tentative ?</div>
            </div>

            <div class="form-group">
              <label class="col-form-label col-form-label-lg mt-4" for="inputLarge">Large input</label>
              <input class="form-control form-control-lg" type="text" placeholder=".form-control-lg" id="inputLarge" data-dashlane-rid="2ee26b9cc19a732b" data-form-type="other">
            </div>

            <div class="form-group">
              <label class="col-form-label mt-4" for="inputDefault">Input par Défaut</label>
              <input type="text" class="form-control" placeholder="Input par Défaut" id="inputDefault" data-dashlane-rid="659653f45bde1715" data-form-type="other">
            </div>

            <div class="form-group">
              <label class="col-form-label col-form-label-sm mt-4" for="inputSmall">Small input</label>
              <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm" id="inputSmall" data-dashlane-rid="8d9ace321c4db138" data-form-type="other">
            </div>

            <div class="form-group">
              <label class="form-label mt-4">Input addons</label>
              <div class="form-group">
                <div class="input-group mb-3">
                  <span class="input-group-text">$</span>
                  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" data-dashlane-rid="da1b4d37946e3d33" data-form-type="other">
                  <span class="input-group-text">.00</span>
                </div>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2" data-dashlane-rid="d2d1915b3eeea0e0" data-form-type="username" data-kwimpalastatus="alive" data-kwimpalaid="1699973975142-3">
                  <button class="btn btn-primary" type="button" id="button-addon2" data-dashlane-label="true" data-dashlane-rid="e85b930d965a5b40" data-form-type="action,login" data-kwimpalastatus="dead">Button</button>
                <span id="1699973975142-3" data-dashlanecreated="true" style="color: initial; font: initial; font-palette: initial; font-synthesis: initial; forced-color-adjust: initial; text-orientation: initial; text-rendering: initial; -webkit-font-smoothing: initial; -webkit-locale: initial; -webkit-text-orientation: initial; -webkit-writing-mode: initial; writing-mode: initial; zoom: initial; accent-color: initial; place-content: initial; place-items: initial; place-self: initial; alignment-baseline: initial; animation-composition: initial; animation: initial; app-region: initial; appearance: initial; aspect-ratio: initial; backdrop-filter: initial; backface-visibility: initial; background: url(&quot;chrome-extension://fdjamakpfbbddfjaooikfcpapjohcfmg/content/injected/logo-autofill-unknown.svg&quot;) center center / contain no-repeat; background-blend-mode: initial; baseline-shift: initial; baseline-source: initial; block-size: initial; border-block: initial; border: none; border-radius: initial; border-collapse: initial; border-end-end-radius: initial; border-end-start-radius: initial; border-inline: initial; border-start-end-radius: initial; border-start-start-radius: initial; bottom: initial; box-shadow: initial; box-sizing: initial; break-after: initial; break-before: initial; break-inside: initial; buffered-rendering: initial; caption-side: initial; caret-color: initial; clear: initial; clip: initial; clip-path: initial; clip-rule: initial; color-interpolation: initial; color-interpolation-filters: initial; color-rendering: initial; color-scheme: initial; columns: initial; column-fill: initial; gap: initial; column-rule: initial; column-span: initial; contain: initial; contain-intrinsic-block-size: initial; contain-intrinsic-size: initial; contain-intrinsic-inline-size: initial; container: initial; content: initial; content-visibility: initial; counter-increment: initial; counter-reset: initial; counter-set: initial; cursor: pointer; cx: initial; cy: initial; d: initial; display: inline; dominant-baseline: initial; empty-cells: initial; fill: initial; fill-opacity: initial; fill-rule: initial; filter: initial; flex: initial; flex-flow: initial; float: initial; flood-color: initial; flood-opacity: initial; grid: initial; grid-area: initial; height: 16px; hyphenate-character: initial; hyphenate-limit-chars: initial; hyphens: initial; image-orientation: initial; image-rendering: initial; initial-letter: initial; inline-size: initial; inset-block: initial; inset-inline: initial; isolation: initial; left: 324px; letter-spacing: initial; lighting-color: initial; line-break: initial; list-style: initial; margin-block: initial; margin: initial; margin-inline: initial; marker: initial; mask: initial; mask-type: initial; math-depth: initial; math-shift: initial; math-style: initial; max-block-size: initial; max-height: initial; max-inline-size: initial; max-width: initial; min-block-size: initial; min-height: initial; min-inline-size: initial; min-width: 16px; mix-blend-mode: initial; object-fit: initial; object-position: initial; object-view-box: initial; offset: initial; opacity: 1; order: initial; orphans: initial; outline: initial; outline-offset: initial; overflow-anchor: initial; overflow-clip-margin: initial; overflow-wrap: initial; overflow: initial; overlay: initial; overscroll-behavior-block: initial; overscroll-behavior-inline: initial; overscroll-behavior: initial; padding-block: initial; padding: initial; padding-inline: initial; page: initial; page-orientation: initial; paint-order: initial; perspective: initial; perspective-origin: initial; pointer-events: initial; position: absolute; quotes: initial; r: initial; resize: initial; right: initial; rotate: initial; ruby-position: initial; rx: initial; ry: initial; scale: initial; scroll-behavior: initial; scroll-margin-block: initial; scroll-margin: initial; scroll-margin-inline: initial; scroll-padding-block: initial; scroll-padding: initial; scroll-padding-inline: initial; scroll-snap-align: initial; scroll-snap-stop: initial; scroll-snap-type: initial; scroll-timeline: initial; scrollbar-gutter: initial; shape-image-threshold: initial; shape-margin: initial; shape-outside: initial; shape-rendering: initial; size: initial; speak: initial; stop-color: initial; stop-opacity: initial; stroke: initial; stroke-dasharray: initial; stroke-dashoffset: initial; stroke-linecap: initial; stroke-linejoin: initial; stroke-miterlimit: initial; stroke-opacity: initial; stroke-width: initial; tab-size: initial; table-layout: initial; text-align: initial; text-align-last: initial; text-anchor: initial; text-combine-upright: initial; text-decoration: initial; text-decoration-skip-ink: initial; text-emphasis: initial; text-emphasis-position: initial; text-indent: initial; text-overflow: initial; text-shadow: initial; text-size-adjust: initial; text-transform: initial; text-underline-offset: initial; text-underline-position: initial; white-space: initial; timeline-scope: initial; top: 11px; touch-action: initial; transform: initial; transform-box: initial; transform-origin: initial; transform-style: initial; transition: initial; translate: initial; user-select: initial; vector-effect: initial; vertical-align: initial; view-timeline: initial; view-transition-name: initial; visibility: visible; border-spacing: initial; -webkit-box-align: initial; -webkit-box-decoration-break: initial; -webkit-box-direction: initial; -webkit-box-flex: initial; -webkit-box-ordinal-group: initial; -webkit-box-orient: initial; -webkit-box-pack: initial; -webkit-box-reflect: initial; -webkit-line-break: initial; -webkit-line-clamp: initial; -webkit-mask-box-image: initial; -webkit-mask: initial; -webkit-mask-composite: initial; -webkit-print-color-adjust: initial; -webkit-rtl-ordering: initial; -webkit-ruby-position: initial; -webkit-tap-highlight-color: initial; -webkit-text-combine: initial; -webkit-text-decorations-in-effect: initial; -webkit-text-fill-color: initial; -webkit-text-security: initial; -webkit-text-stroke: initial; -webkit-user-drag: initial; -webkit-user-modify: initial; widows: initial; width: 16px; will-change: initial; word-break: initial; word-spacing: initial; x: initial; y: initial; z-index: auto;"></span></div>
              </div>
            </div>

            <div class="form-group">
              <label class="form-label mt-4">Floating labels</label>
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" data-dashlane-rid="1f563b8c5009c470" data-form-type="email" data-kwimpalastatus="alive" data-kwimpalaid="1699973975142-5">
                <label for="floatingInput">Email address</label>
              <span id="1699973975142-5" data-dashlanecreated="true" style="color: initial; font: initial; font-palette: initial; font-synthesis: initial; forced-color-adjust: initial; text-orientation: initial; text-rendering: initial; -webkit-font-smoothing: initial; -webkit-locale: initial; -webkit-text-orientation: initial; -webkit-writing-mode: initial; writing-mode: initial; zoom: initial; accent-color: initial; place-content: initial; place-items: initial; place-self: initial; alignment-baseline: initial; animation-composition: initial; animation: initial; app-region: initial; appearance: initial; aspect-ratio: initial; backdrop-filter: initial; backface-visibility: initial; background: url(&quot;chrome-extension://fdjamakpfbbddfjaooikfcpapjohcfmg/content/injected/logo-autofill-known.svg&quot;) center center / contain no-repeat; background-blend-mode: initial; baseline-shift: initial; baseline-source: initial; block-size: initial; border-block: initial; border: none; border-radius: initial; border-collapse: initial; border-end-end-radius: initial; border-end-start-radius: initial; border-inline: initial; border-start-end-radius: initial; border-start-start-radius: initial; bottom: initial; box-shadow: initial; box-sizing: initial; break-after: initial; break-before: initial; break-inside: initial; buffered-rendering: initial; caption-side: initial; caret-color: initial; clear: initial; clip: initial; clip-path: initial; clip-rule: initial; color-interpolation: initial; color-interpolation-filters: initial; color-rendering: initial; color-scheme: initial; columns: initial; column-fill: initial; gap: initial; column-rule: initial; column-span: initial; contain: initial; contain-intrinsic-block-size: initial; contain-intrinsic-size: initial; contain-intrinsic-inline-size: initial; container: initial; content: initial; content-visibility: initial; counter-increment: initial; counter-reset: initial; counter-set: initial; cursor: pointer; cx: initial; cy: initial; d: initial; display: inline; dominant-baseline: initial; empty-cells: initial; fill: initial; fill-opacity: initial; fill-rule: initial; filter: initial; flex: initial; flex-flow: initial; float: initial; flood-color: initial; flood-opacity: initial; grid: initial; grid-area: initial; height: 16px; hyphenate-character: initial; hyphenate-limit-chars: initial; hyphens: initial; image-orientation: initial; image-rendering: initial; initial-letter: initial; inline-size: initial; inset-block: initial; inset-inline: initial; isolation: initial; left: 397px; letter-spacing: initial; lighting-color: initial; line-break: initial; list-style: initial; margin-block: initial; margin: initial; margin-inline: initial; marker: initial; mask: initial; mask-type: initial; math-depth: initial; math-shift: initial; math-style: initial; max-block-size: initial; max-height: initial; max-inline-size: initial; max-width: initial; min-block-size: initial; min-height: initial; min-inline-size: initial; min-width: 16px; mix-blend-mode: initial; object-fit: initial; object-position: initial; object-view-box: initial; offset: initial; opacity: 1; order: initial; orphans: initial; outline: initial; outline-offset: initial; overflow-anchor: initial; overflow-clip-margin: initial; overflow-wrap: initial; overflow: initial; overlay: initial; overscroll-behavior-block: initial; overscroll-behavior-inline: initial; overscroll-behavior: initial; padding-block: initial; padding: initial; padding-inline: initial; page: initial; page-orientation: initial; paint-order: initial; perspective: initial; perspective-origin: initial; pointer-events: initial; position: absolute; quotes: initial; r: initial; resize: initial; right: initial; rotate: initial; ruby-position: initial; rx: initial; ry: initial; scale: initial; scroll-behavior: initial; scroll-margin-block: initial; scroll-margin: initial; scroll-margin-inline: initial; scroll-padding-block: initial; scroll-padding: initial; scroll-padding-inline: initial; scroll-snap-align: initial; scroll-snap-stop: initial; scroll-snap-type: initial; scroll-timeline: initial; scrollbar-gutter: initial; shape-image-threshold: initial; shape-margin: initial; shape-outside: initial; shape-rendering: initial; size: initial; speak: initial; stop-color: initial; stop-opacity: initial; stroke: initial; stroke-dasharray: initial; stroke-dashoffset: initial; stroke-linecap: initial; stroke-linejoin: initial; stroke-miterlimit: initial; stroke-opacity: initial; stroke-width: initial; tab-size: initial; table-layout: initial; text-align: initial; text-align-last: initial; text-anchor: initial; text-combine-upright: initial; text-decoration: initial; text-decoration-skip-ink: initial; text-emphasis: initial; text-emphasis-position: initial; text-indent: initial; text-overflow: initial; text-shadow: initial; text-size-adjust: initial; text-transform: initial; text-underline-offset: initial; text-underline-position: initial; white-space: initial; timeline-scope: initial; top: 21px; touch-action: initial; transform: initial; transform-box: initial; transform-origin: initial; transform-style: initial; transition: initial; translate: initial; user-select: initial; vector-effect: initial; vertical-align: initial; view-timeline: initial; view-transition-name: initial; visibility: visible; border-spacing: initial; -webkit-box-align: initial; -webkit-box-decoration-break: initial; -webkit-box-direction: initial; -webkit-box-flex: initial; -webkit-box-ordinal-group: initial; -webkit-box-orient: initial; -webkit-box-pack: initial; -webkit-box-reflect: initial; -webkit-line-break: initial; -webkit-line-clamp: initial; -webkit-mask-box-image: initial; -webkit-mask: initial; -webkit-mask-composite: initial; -webkit-print-color-adjust: initial; -webkit-rtl-ordering: initial; -webkit-ruby-position: initial; -webkit-tap-highlight-color: initial; -webkit-text-combine: initial; -webkit-text-decorations-in-effect: initial; -webkit-text-fill-color: initial; -webkit-text-security: initial; -webkit-text-stroke: initial; -webkit-user-drag: initial; -webkit-user-modify: initial; widows: initial; width: 16px; will-change: initial; word-break: initial; word-spacing: initial; x: initial; y: initial; z-index: auto;"></span></div>
              <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" autocomplete="off" data-dashlane-rid="a68f1aaf84df43c0" data-form-type="password" data-kwimpalastatus="alive" data-kwimpalaid="1699973975142-6">
                <label for="floatingPassword">Password</label>
              <span id="1699973975142-6" data-dashlanecreated="true" style="color: initial; font: initial; font-palette: initial; font-synthesis: initial; forced-color-adjust: initial; text-orientation: initial; text-rendering: initial; -webkit-font-smoothing: initial; -webkit-locale: initial; -webkit-text-orientation: initial; -webkit-writing-mode: initial; writing-mode: initial; zoom: initial; accent-color: initial; place-content: initial; place-items: initial; place-self: initial; alignment-baseline: initial; animation-composition: initial; animation: initial; app-region: initial; appearance: initial; aspect-ratio: initial; backdrop-filter: initial; backface-visibility: initial; background: url(&quot;chrome-extension://fdjamakpfbbddfjaooikfcpapjohcfmg/content/injected/logo-autofill-unknown.svg&quot;) center center / contain no-repeat; background-blend-mode: initial; baseline-shift: initial; baseline-source: initial; block-size: initial; border-block: initial; border: none; border-radius: initial; border-collapse: initial; border-end-end-radius: initial; border-end-start-radius: initial; border-inline: initial; border-start-end-radius: initial; border-start-start-radius: initial; bottom: initial; box-shadow: initial; box-sizing: initial; break-after: initial; break-before: initial; break-inside: initial; buffered-rendering: initial; caption-side: initial; caret-color: initial; clear: initial; clip: initial; clip-path: initial; clip-rule: initial; color-interpolation: initial; color-interpolation-filters: initial; color-rendering: initial; color-scheme: initial; columns: initial; column-fill: initial; gap: initial; column-rule: initial; column-span: initial; contain: initial; contain-intrinsic-block-size: initial; contain-intrinsic-size: initial; contain-intrinsic-inline-size: initial; container: initial; content: initial; content-visibility: initial; counter-increment: initial; counter-reset: initial; counter-set: initial; cursor: pointer; cx: initial; cy: initial; d: initial; display: inline; dominant-baseline: initial; empty-cells: initial; fill: initial; fill-opacity: initial; fill-rule: initial; filter: initial; flex: initial; flex-flow: initial; float: initial; flood-color: initial; flood-opacity: initial; grid: initial; grid-area: initial; height: 16px; hyphenate-character: initial; hyphenate-limit-chars: initial; hyphens: initial; image-orientation: initial; image-rendering: initial; initial-letter: initial; inline-size: initial; inset-block: initial; inset-inline: initial; isolation: initial; left: 397px; letter-spacing: initial; lighting-color: initial; line-break: initial; list-style: initial; margin-block: initial; margin: initial; margin-inline: initial; marker: initial; mask: initial; mask-type: initial; math-depth: initial; math-shift: initial; math-style: initial; max-block-size: initial; max-height: initial; max-inline-size: initial; max-width: initial; min-block-size: initial; min-height: initial; min-inline-size: initial; min-width: 16px; mix-blend-mode: initial; object-fit: initial; object-position: initial; object-view-box: initial; offset: initial; opacity: 1; order: initial; orphans: initial; outline: initial; outline-offset: initial; overflow-anchor: initial; overflow-clip-margin: initial; overflow-wrap: initial; overflow: initial; overlay: initial; overscroll-behavior-block: initial; overscroll-behavior-inline: initial; overscroll-behavior: initial; padding-block: initial; padding: initial; padding-inline: initial; page: initial; page-orientation: initial; paint-order: initial; perspective: initial; perspective-origin: initial; pointer-events: initial; position: absolute; quotes: initial; r: initial; resize: initial; right: initial; rotate: initial; ruby-position: initial; rx: initial; ry: initial; scale: initial; scroll-behavior: initial; scroll-margin-block: initial; scroll-margin: initial; scroll-margin-inline: initial; scroll-padding-block: initial; scroll-padding: initial; scroll-padding-inline: initial; scroll-snap-align: initial; scroll-snap-stop: initial; scroll-snap-type: initial; scroll-timeline: initial; scrollbar-gutter: initial; shape-image-threshold: initial; shape-margin: initial; shape-outside: initial; shape-rendering: initial; size: initial; speak: initial; stop-color: initial; stop-opacity: initial; stroke: initial; stroke-dasharray: initial; stroke-dashoffset: initial; stroke-linecap: initial; stroke-linejoin: initial; stroke-miterlimit: initial; stroke-opacity: initial; stroke-width: initial; tab-size: initial; table-layout: initial; text-align: initial; text-align-last: initial; text-anchor: initial; text-combine-upright: initial; text-decoration: initial; text-decoration-skip-ink: initial; text-emphasis: initial; text-emphasis-position: initial; text-indent: initial; text-overflow: initial; text-shadow: initial; text-size-adjust: initial; text-transform: initial; text-underline-offset: initial; text-underline-position: initial; white-space: initial; timeline-scope: initial; top: 21px; touch-action: initial; transform: initial; transform-box: initial; transform-origin: initial; transform-style: initial; transition: initial; translate: initial; user-select: initial; vector-effect: initial; vertical-align: initial; view-timeline: initial; view-transition-name: initial; visibility: visible; border-spacing: initial; -webkit-box-align: initial; -webkit-box-decoration-break: initial; -webkit-box-direction: initial; -webkit-box-flex: initial; -webkit-box-ordinal-group: initial; -webkit-box-orient: initial; -webkit-box-pack: initial; -webkit-box-reflect: initial; -webkit-line-break: initial; -webkit-line-clamp: initial; -webkit-mask-box-image: initial; -webkit-mask: initial; -webkit-mask-composite: initial; -webkit-print-color-adjust: initial; -webkit-rtl-ordering: initial; -webkit-ruby-position: initial; -webkit-tap-highlight-color: initial; -webkit-text-combine: initial; -webkit-text-decorations-in-effect: initial; -webkit-text-fill-color: initial; -webkit-text-security: initial; -webkit-text-stroke: initial; -webkit-user-drag: initial; -webkit-user-modify: initial; widows: initial; width: 16px; will-change: initial; word-break: initial; word-spacing: initial; x: initial; y: initial; z-index: auto;"></span></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<br>
<div class="footer footer-expand-lg bg-body-tertiary">
  <footer>
    <%= render 'layouts/footer' %>
  </footer>
</div>