<div class="container my-3 my-md-5 d-flex justify-content-center">
  <div class="col-lg-12">
    <div class="page-header text-center">
      <h1 id="navbars">Mettre à jour Mon Profil</h1>
    </div>
    <%= render 'layouts/user_update_form' %>
  </div>
</div>