<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-4 col-md-3 item">
      <a href="#"><i class="icon ion-social-instagram"></i></a>
    </div>

    <div class="col-sm-4 col-md-3 item">
      <a href="#"><i class="icon ion-social-snapchat"></i></a>
    </div>
    <div class="col-sm-4 col-md-3 item">
      <a href="#"><i class="icon ion-social-twitter"></i></a>
    </div>
    
    <ul class="list-inline">
      <a href="/static_pages/index" class="list-inline-item">Accueil</a>
      <a href="/static_pages/navbar" class="list-inline-item">Navbar</a>
      <a href="/static_pages/footer" class="list-inline-item">Footer</a>
      <a href="/static_pages/navbar" class="list-inline-item">Formulaire</a>
    </ul>
    <p class="copyright">Saint-Loup-Event © 2023</p>
  </div>
</div>

