<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-4 col-md-3 item">
      <a href="#"><i class="icon ion-social-instagram"></i></a>
    </div>

    <div class="col-sm-4 col-md-3 item">
      <a href="#"><i class="icon ion-social-snapchat"></i></a>
    </div>
    <div class="col-sm-4 col-md-3 item">
      <a href="#"><i class="icon ion-social-twitter"></i></a>
    </div>
    
    <ul class="list-inline">
      <%= link_to 'Accueil', 'root_path', class:"list-inline-item" %>
      <%= link_to 'Navbar', 'navbars_path', class:"list-inline-item" %>
      <%= link_to 'Footer', '/layouts/_form', class:"list-inline-item" %>
      <%= link_to 'Formulaire', '/layouts/_form', class:"list-inline-item" %>
    </ul>
    <p class="copyright">Saint-Loup-Event © 2023</p>
  </div>
</div>

