<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/static_pages/index">MOLÉCULES & ÉLÉMENTS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor04" aria-controls="navbarColor04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor04">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">UTILISATEUR</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">MES MOLÉCULES</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/static_pages/navbar">Navbar</a>
            <a class="dropdown-item" href="/static_pages/footer">Footer</a>
            <a class="dropdown-item" href="/static_pages/user_update_form">Formulaire</a>
          </div>
        </li>
      </ul>
      <form class="d-flex" data-dashlane-rid="0eca627d130023af" data-form-type="">
        <input class="form-control me-sm-2" type="search" placeholder="Rechercher" data-dashlane-rid="79d4d1eeaa24dbd1" data-form-type="">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit" data-dashlane-label="true" data-dashlane-rid="ee983bf97a46ed97" data-form-type="">Rechercher</button>
      </form>
    </div>
  </div>
</nav>