<div class="col-lg-12 d-flex justify-content-center">
  <div class="bs-component">
    <form data-dashlane-rid="909782c17d7db275" data-form-type="other">
      <fieldset>
        <fieldset class="form-group">
          <label for="civilite" class="form-label mt-4">Civilité</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="" data-dashlane-rid="fc35dffb0cf9eefa" data-form-type="other">
            <label class="form-check-label" for="optionsRadios1">
              Mademoiselle
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios2" value="option2" data-dashlane-rid="eec56e9de62983b2" data-form-type="other">
            <label class="form-check-label" for="optionsRadios2">
              Madame
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios2" value="option2" data-dashlane-rid="eec56e9de62983b2" data-form-type="other">
            <label class="form-check-label" for="optionsRadios2">
              Monsieur
            </label>
          </div>
        </fieldset>
        <div class="form-group">
          <label for="last_name" class="form-label mt-4">Nom</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ton nom" data-dashlane-rid="1f5aa6101fd200ab" data-form-type="last_name" data-kwimpalastatus="alive" data-kwimpalaid="1699973975142-1">
        </div>
        <div class="form-group">
          <label for="first_name" class="form-label mt-4">Prénom</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ton prénom" data-dashlane-rid="1f5aa6101fd200ab" data-form-type="first_name" data-kwimpalastatus="alive" data-kwimpalaid="1699973975142-1">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1" class="form-label mt-4">Adresse Email</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" data-dashlane-rid="1f5aa6101fd200ab" data-form-type="email" data-kwimpalastatus="alive" data-kwimpalaid="1699973975142-1">
          <small id="emailHelp" class="form-text text-muted">Votre email ne sera jamais partagé à quiconque.</small>
        </div>
        <div class="form-group">
          <label for="exampleTextarea" class="form-label mt-4">Description</label>
          <textarea class="form-control" id="exampleTextarea" rows="3" data-dashlane-rid="736cc9c86aa3ebc9" data-form-type="other"></textarea>
        </div>
        <div class="form-group">
          <label for="formFile" class="form-label mt-4">Photo de Profil</label>
          <input class="form-control" type="file" id="formFile" data-dashlane-rid="9db55d234d14292a" data-form-type="other">
        </div>
      </fieldset>
    </form>
  </div>
</div>